asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.7
cssselect2==0.6.0
da-vinci==0.3.0
Django==3.2.8
django-ckeditor==6.4.2
django-colorfield==0.6.3
django-extensions==3.1.5
django-faicon==0.1.0
django-instagram==0.3.2
django-js-asset==2.0.0
django-resized==1.0.0
django-thumbnails==0.7.0
djangorestframework==3.13.1
easy-thumbnails==2.8.1
idna==3.3
kvstore==0.1.1
lxml==4.6.3
Pillow==8.4.0
python-resize-image==1.1.20
pytz==2021.3
PyYAML==5.4.1
reportlab==3.6.9
requests==2.26.0
shortuuid==1.0.9
sorl-thumbnail==12.7.0
sqlparse==0.4.2
svglib==1.3.0
tinycss2==1.1.1
urllib3==1.26.7
webencodings==0.5.1
