{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>

<h1>Instaa</h1>
<div id="instafeed"></div>

        <ul id="rudr_instafeed"></ul>
        <ul></ul>

<h1>Instaa</h1>


  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<div id="instafeed"></div>



<script type="text/javascript" src="https://cdn.boomcdn.com/libs/instafeed-js/1.4.1/instafeed.js"></script>
<script type="text/javascript">
    var feed = new Instafeed({
      accessToken: 'IGQVJYVkxSWXlFZAzJLdldSVDFzLUt3bWRUc1ZA1U3MwM1p4MkVZAUW9Pa3AydTF4VDdDOUdjM0lJcHBKR2VpdlZAKRnpXbFhOaDdyS0VXdzAwb2RiQnJhY00zRXU1TWVXSHEyMWZAxRjBn'
    });
    feed.run();

</script>
</body>
</html>